USE [master]
GO
/****** Object:  Database [PE01]    Script Date: 8/16/2020 2:05:39 PM ******/
CREATE DATABASE [PE01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PE01', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PE01.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PE01_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PE01_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PE01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PE01]
GO
/****** Object:  Table [dbo].[Bike]    Script Date: 8/16/2020 2:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bike](
	[BikeID] [varchar](50) NOT NULL,
	[BikeName] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Price] [float] NULL,
	[ReleasedYear] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Bike] ([BikeID], [BikeName], [Manufacturer], [Model], [Price], [ReleasedYear]) VALUES (N'1', N'HONDA', N'A12', N'15564', 50, N'14/01/2020')
INSERT [dbo].[Bike] ([BikeID], [BikeName], [Manufacturer], [Model], [Price], [ReleasedYear]) VALUES (N'2', N'Volkswagen', N'B1', N'36547', 20, N'15/07/2020')
INSERT [dbo].[Bike] ([BikeID], [BikeName], [Manufacturer], [Model], [Price], [ReleasedYear]) VALUES (N'3', N'Mazda', N'C1', N'14566', 53, N'10/04/2020')
USE [master]
GO
